<h3 id="comments"><%= pluralize @post.comments.size, "Kommentar", "Kommentare" %></h3>

<% for comment in @post.comments %>
  <p><strong><%= h comment.author %></strong> kommentierte am <%= comment.created_at.to_s(:short) %></p>
  <p><%= simple_format h(comment.content) %></p>
  <hr />
<% end %>

<% form_for :comment, :url => post_comments_url(@post) do |f| %>  
  <p>
    <%= f.label :author, "Autor" %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :content, "Kommentar" %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit "abschicken" %>
  </p>
<% end %>